.users {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    color: white;
    height: 60%;
    justify-content: space-between;
  }
  
  .users__activeContainer {
    display: flex;
    align-items: center;
    margin-bottom: 50%;
  }
  
  .users__activeItem {
    color: white;
    display: flex;
    align-items: center;
  }
  .users__onlineIcon{
    margin-right: 5px;
    padding-left: 10px;
  }
  
  .users__users h1 {
    margin-bottom: 0px;
  }
  
  @media (min-width: 320px) and (max-width: 1200px) {
    .users {
      display: none;
    }
  }